In [1]:
# Import Dependencies
import os
import csv
import pandas as pd

In [2]:
# Save file path
ride_share = "Transportation_Network_Providers_Trips.csv"

In [3]:
# Create dataframe
ride_share_df = pd.read_csv(ride_share, encoding="utf-8")

In [4]:
# Get columns

# ride_share_df.columns

In [5]:
# Preview data

# ride_share_df.head()

In [39]:
# Reduce columns
ride_share_org_df = ride_share_df[["Trip Start Timestamp","Trip End Timestamp","Fare", "Pickup Centroid Latitude", "Pickup Centroid Longitude", "Pickup Centroid Location", "Dropoff Centroid Latitude", "Dropoff Centroid Longitude", "Dropoff Centroid Location"]]

# ride_share_org_df.head()

In [40]:
# Save as 2 different dataframes (1 for arrival, 1 for departure)
arrival_no_blank_df = ride_share_org_df
# depart_no_blank_df = ride_share_org_df

In [41]:
# Filter off blanks in "Dropoff" location column
arrival_no_blank_df = arrival_no_blank_df[arrival_no_blank_df['Dropoff Centroid Location'].notnull()]

# arrival_no_blank_df.head()

In [42]:
# Filter off blanks in "Pickup" location column
# depart_no_blank_df = depart_no_blank_df[depart_no_blank_df['Pickup Centroid Location'].notnull()]

# depart_no_blank_df.head()

In [43]:
# Further reduce columns for departure dataframe
# depart_no_blank_reduced_df = depart_no_blank_df[["Trip Start Timestamp","Trip End Timestamp","Fare", "Pickup Centroid Latitude", "Pickup Centroid Longitude"]]

# depart_no_blank_reduced_df.head()

In [44]:
# Further reduce columns for arrival dataframe
arrival_no_blank_reduced_df = arrival_no_blank_df[["Trip Start Timestamp","Trip End Timestamp","Fare", "Dropoff Centroid Latitude", "Dropoff Centroid Longitude"]]

arrival_no_blank_reduced_df.head()

,Trip Start Timestamp,Trip End Timestamp,Fare,Dropoff Centroid Latitude,Dropoff Centroid Longitude
0,11/01/2018 08:45:00 AM,11/01/2018 09:30:00 AM,47.5,41.785999,-87.750934
4,11/01/2018 05:00:00 PM,11/01/2018 06:00:00 PM,27.5,41.880994,-87.632746
9,11/01/2018 09:30:00 PM,11/01/2018 10:15:00 PM,25.0,41.879255,-87.642649
10,11/01/2018 07:00:00 PM,11/01/2018 07:15:00 PM,12.5,41.878594,-87.730232
11,11/01/2018 04:45:00 PM,11/01/2018 06:00:00 PM,40.0,41.965446,-87.663196

In [45]:
# Split departure date/time into individual components

# depart_no_blank_reduced_df["depart_date"] = depart_no_blank_reduced_df["Trip Start Timestamp"][0][0:10]
# depart_no_blank_reduced_df["depart_month"] = depart_no_blank_reduced_df["Trip Start Timestamp"][0][0:2]
# depart_no_blank_reduced_df["depart_day"] = depart_no_blank_reduced_df["Trip Start Timestamp"][0][3:5]
# depart_no_blank_reduced_df["depart_year"] = depart_no_blank_reduced_df["Trip Start Timestamp"][0][6:10]
# depart_no_blank_reduced_df["depart_hour"] = depart_no_blank_reduced_df["Trip Start Timestamp"][0][11:13]
# depart_no_blank_reduced_df["depart_minute"] = depart_no_blank_reduced_df["Trip Start Timestamp"][0][14:16]
# depart_no_blank_reduced_df["depart_am_pm"] = depart_no_blank_reduced_df["Trip Start Timestamp"][0][20:22]

# depart_no_blank_reduced_df.head()

In [47]:
# Split arrival date/time into individual components

arrival_no_blank_reduced_df["arrival_date"] = arrival_no_blank_reduced_df["Trip Start Timestamp"].str.split(" ", expand=False).str[0].astype(str)
# arrival_no_blank_reduced_df["arrival_month"] = arrival_no_blank_reduced_df["Trip Start Timestamp"][0][0:2]
# arrival_no_blank_reduced_df["arrival_day"] = arrival_no_blank_reduced_df["Trip Start Timestamp"][0][3:5]
# arrival_no_blank_reduced_df["arrival_year"] = arrival_no_blank_reduced_df["Trip Start Timestamp"][0][6:10]
# arrival_no_blank_reduced_df["arrival_hour"] = arrival_no_blank_reduced_df["Trip Start Timestamp"][0][11:13]
# arrival_no_blank_reduced_df["arrival_minute"] = arrival_no_blank_reduced_df["Trip Start Timestamp"][0][14:16]
# arrival_no_blank_reduced_df["arrival_am_pm"] = arrival_no_blank_reduced_df["Trip Start Timestamp"][0][20:22]

arrival_no_blank_reduced_df.head(100)

C:\Users\mdsmi\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Trip Start Timestamp,Trip End Timestamp,Fare,Dropoff Centroid Latitude,Dropoff Centroid Longitude,arrival_date
0,11/01/2018 08:45:00 AM,11/01/2018 09:30:00 AM,47.5,41.785999,-87.750934,11/01/2018
4,11/01/2018 05:00:00 PM,11/01/2018 06:00:00 PM,27.5,41.880994,-87.632746,11/01/2018
9,11/01/2018 09:30:00 PM,11/01/2018 10:15:00 PM,25.0,41.879255,-87.642649,11/01/2018
10,11/01/2018 07:00:00 PM,11/01/2018 07:15:00 PM,12.5,41.878594,-87.730232,11/01/2018
11,11/01/2018 04:45:00 PM,11/01/2018 06:00:00 PM,40.0,41.965446,-87.663196,11/01/2018
14,11/01/2018 06:00:00 PM,11/01/2018 06:30:00 PM,32.5,41.899602,-87.633308,11/01/2018
15,11/01/2018 06:45:00 PM,11/01/2018 07:30:00 PM,40.0,41.874005,-87.663518,11/01/2018
16,11/01/2018 06:00:00 PM,11/01/2018 06:30:00 PM,20.0,41.980264,-87.913625,11/01/2018
17,11/01/2018 03:45:00 AM,11/01/2018 04:15:00 AM,35.0,41.922686,-87.649489,11/01/2018
20,11/01/2018 06:15:00 PM,11/01/2018 06:45:00 PM,30.0,41.979071,-87.903040,11/01/2018
27,11/01/2018 09:15:00 AM,11/01/2018 10:00:00 AM,15.0,41.777196,-87.642498,11/01/2018
28,11/01/2018 03:45:00 PM,11/01/2018 05:00:00 PM,47.5,41.879255,-87.642649,11/01/2018
31,11/01/2018 03:30:00 PM,11/01/2018 04:00:00 PM,20.0,41.761578,-87.572782,11/01/2018
32,11/01/2018 12:15:00 AM,11/01/2018 12:45:00 AM,32.5,41.899602,-87.633308,11/01/2018
35,11/01/2018 09:15:00 AM,11/01/2018 10:15:00 AM,50.0,41.979071,-87.903040,11/01/2018
37,11/01/2018 01:45:00 PM,11/01/2018 02:00:00 PM,5.0,41.782114,-87.739959,11/01/2018
39,11/01/2018 07:30:00 AM,11/01/2018 07:45:00 AM,7.5,41.946511,-87.806020,11/01/2018
40,11/01/2018 12:15:00 PM,11/01/2018 12:30:00 PM,15.0,41.880994,-87.632746,11/01/2018
41,11/01/2018 10:45:00 AM,11/01/2018 11:15:00 AM,27.5,41.980264,-87.913625,11/01/2018
42,11/01/2018 05:30:00 PM,11/01/2018 05:45:00 PM,12.5,41.860190,-87.717220,11/01/2018
44,11/01/2018 06:45:00 PM,11/01/2018 07:00:00 PM,2.5,41.689730,-87.669054,11/01/2018
45,11/01/2018 06:00:00 PM,11/01/2018 06:00:00 PM,7.5,41.954028,-87.763399,11/01/2018
46,11/01/2018 09:45:00 AM,11/01/2018 10:00:00 AM,7.5,42.001571,-87.695013,11/01/2018
48,11/01/2018 07:00:00 AM,11/01/2018 07:15:00 AM,5.0,41.982273,-87.841586,11/01/2018
52,11/01/2018 08:00:00 AM,11/01/2018 08:15:00 AM,7.5,41.782114,-87.739959,11/01/2018
54,11/01/2018 09:00:00 AM,11/01/2018 09:45:00 AM,20.0,41.785999,-87.750934,11/01/2018
55,11/01/2018 03:00:00 AM,11/01/2018 03:15:00 AM,7.5,41.839087,-87.714004,11/01/2018
56,11/01/2018 12:15:00 PM,11/01/2018 01:15:00 PM,30.0,41.884987,-87.620993,11/01/2018
57,11/01/2018 06:45:00 PM,11/01/2018 07:15:00 PM,15.0,41.914602,-87.796816,11/01/2018
61,11/01/2018 02:30:00 PM,11/01/2018 03:30:00 PM,40.0,41.899156,-87.626211,11/01/2018
...,...,...,...,...,...,...
167,11/01/2018 02:00:00 PM,11/01/2018 02:30:00 PM,17.5,41.890609,-87.756047,11/01/2018
169,11/01/2018 11:15:00 PM,11/01/2018 11:15:00 PM,5.0,42.016046,-87.673334,11/01/2018
170,11/01/2018 04:00:00 PM,11/01/2018 04:15:00 PM,17.5,41.979071,-87.903040,11/01/2018
172,11/01/2018 02:00:00 PM,11/01/2018 02:15:00 PM,22.5,41.979071,-87.903040,11/01/2018
173,11/01/2018 10:45:00 PM,11/01/2018 10:45:00 PM,7.5,41.660136,-87.602848,11/01/2018
175,11/01/2018 02:30:00 PM,11/01/2018 03:00:00 PM,12.5,41.860190,-87.717220,11/01/2018
180,11/01/2018 11:30:00 AM,11/01/2018 12:15:00 PM,35.0,41.880994,-87.632746,11/01/2018
181,11/01/2018 11:30:00 AM,11/01/2018 12:00:00 PM,20.0,41.979071,-87.903040,11/01/2018
183,11/01/2018 12:45:00 PM,11/01/2018 01:00:00 PM,7.5,41.982273,-87.841586,11/01/2018
186,11/01/2018 04:15:00 AM,11/01/2018 04:30:00 AM,25.0,41.979071,-87.903040,11/01/2018
191,11/01/2018 09:15:00 PM,11/01/2018 10:45:00 PM,17.5,41.874005,-87.663518,11/01/2018
192,11/01/2018 06:30:00 AM,11/01/2018 06:45:00 AM,5.0,41.663671,-87.540936,11/01/2018
194,11/01/2018 11:30:00 PM,11/02/2018 12:00:00 AM,12.5,42.004517,-87.663328,11/01/2018
195,11/01/2018 05:45:00 PM,11/01/2018 06:15:00 PM,15.0,41.985015,-87.804532,11/01/2018
196,11/01/2018 05:15:00 PM,11/01/2018 05:30:00 PM,25.0,41.980264,-87.913625,11/01/2018
197,11/01/2018 08:00:00 AM,11/01/2018 08:15:00 AM,12.5,41.850266,-87.667569,11/01/2018
198,11/01/2018 06:00:00 AM,11/01/2018 06:45:00 AM,42.5,41.785999,-87.750934,11/01/2018
200,11/01/2018 07:30:00 PM,11/01/2018 07:45:00 PM,17.5,41.979071,-87.903040,11/01/2018
203,11/01/2018 12:15:00 PM,11/01/2018 12:45:00 PM,17.5,41.979071,-87.903040,11/01/2018
205,11/01/2018 02:00:00 AM,11/01/2018 02:30:00 AM,20.0,41.901207,-87.676356,11/01/2018
208,11/01/2018 01:15:00 PM,11/01/2018 01:45:00 PM,22.5,41.792136,-87.610939,11/01/2018
210,11/01/2018 07:30:00 AM,11/01/2018 08:00:00 AM,30.0,41.785999,-87.750934,11/01/2018
212,11/01/2018 05:15:00 PM,11/01/2018 05:45:00 PM,57.5,41.979071,-87.903040,11/01/2018
214,11/01/2018 07:15:00 AM,11/01/2018 08:00:00 AM,27.5,41.979071,-87.903040,11/01/2018
216,11/01/2018 03:00:00 AM,11/01/2018 03:00:00 AM,7.5,41.994225,-87.686077,11/01/2018
221,11/01/2018 08:00:00 PM,11/01/2018 08:15:00 PM,17.5,41.928391,-87.704907,11/01/2018
222,11/01/2018 05:45:00 PM,11/01/2018 06:15:00 PM,15.0,41.976812,-87.701941,11/01/2018
229,11/01/2018 05:30:00 PM,11/01/2018 06:00:00 PM,15.0,41.906684,-87.710354,11/01/2018
230,11/01/2018 10:45:00 PM,11/01/2018 11:15:00 PM,17.5,41.706588,-87.623367,11/01/2018
232,11/01/2018 04:45:00 PM,11/01/2018 05:45:00 PM,17.5,41.907413,-87.640902,11/01/2018

In [48]:
# Filter departure on United Center longitude/latitude

# depart_no_blank_reduced_df = depart_no_blank_reduced_df[depart_no_blank_reduced_df['Pickup Centroid Latitude'].between(41.878611, 41.883085, inclusive=True)]
# depart_no_blank_reduced_df = depart_no_blank_reduced_df[depart_no_blank_reduced_df['Pickup Centroid Longitude'].between(-87.678969, -87.66919, inclusive=True)]
# depart_no_blank_reduced_df.head(10)

In [49]:
# Split arrival date/time into individual components

arrival_no_blank_reduced_df = arrival_no_blank_reduced_df[arrival_no_blank_reduced_df['Dropoff Centroid Latitude'].between(41.878611, 41.883085, inclusive=True)]
arrival_no_blank_reduced_df = arrival_no_blank_reduced_df[arrival_no_blank_reduced_df['Dropoff Centroid Longitude'].between(-87.678969, -87.66919, inclusive=True)]
arrival_no_blank_reduced_df.head()

,Trip Start Timestamp,Trip End Timestamp,Fare,Dropoff Centroid Latitude,Dropoff Centroid Longitude,arrival_date
695,11/01/2018 06:00:00 AM,11/01/2018 07:00:00 AM,35.0,41.878667,-87.671654,11/01/2018
2735,11/23/2018 05:30:00 PM,11/23/2018 06:15:00 PM,27.5,41.878667,-87.671654,11/23/2018
4500,11/28/2018 02:30:00 PM,11/28/2018 02:45:00 PM,12.5,41.878667,-87.671654,11/28/2018
4764,12/16/2018 05:30:00 PM,12/16/2018 06:00:00 PM,25.0,41.878667,-87.671654,12/16/2018
6729,12/06/2018 07:15:00 PM,12/06/2018 07:45:00 PM,15.0,41.878667,-87.671654,12/06/2018

In [50]:
# Get rid of "Timestamp" columns for departure

In [51]:
# Get rid of "Timestamp" columns for arrival

arrival_no_blank_reduced_df = arrival_no_blank_reduced_df[["arrival_date", "Fare"]]
arrival_no_blank_reduced_df.head()

     arrival_date  Fare
695    11/01/2018  35.0
2735   11/23/2018  27.5
4500   11/28/2018  12.5
4764   12/16/2018  25.0
6729   12/06/2018  15.0

In [52]:
# Save departure as csv

In [53]:
# Save arrival as csv

arrival_no_blank_reduced_df.to_csv("rideshare_arrival_to_uc.csv", encoding="utf-8", index=False, header=True)