In [84]:
#Import dependencies

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [85]:
#Read data files

hawks = pd.read_csv("Resources/Blackhawks 2018.csv")
bulls = pd.read_csv("Resources/Bulls 2018.csv")

#hawks.head()
bulls.head()

,G,Date- Old,Date,Start (ET),Start (CT),Unnamed: 5,Unnamed: 6,Opponent,Unnamed: 8,Unnamed: 9,Tm,Opp,W,L,Streak,Notes
0,1,"Thu, Oct 18, 2018",10/18/2018,8:00p,19:00:00,Box Score,@,Philadelphia 76ers,L,NaN,108,127,0,1,L 1,NaN
1,2,"Sat, Oct 20, 2018",10/20/2018,8:00p,19:00:00,Box Score,NaN,Detroit Pistons,L,NaN,116,118,0,2,L 2,NaN
2,3,"Mon, Oct 22, 2018",10/22/2018,8:30p,19:30:00,Box Score,@,Dallas Mavericks,L,NaN,109,115,0,3,L 3,NaN
3,4,"Wed, Oct 24, 2018",10/24/2018,8:00p,19:00:00,Box Score,NaN,Charlotte Hornets,W,NaN,112,110,1,3,W 1,NaN
4,5,"Fri, Oct 26, 2018",10/26/2018,7:00p,18:30:00,Box Score,@,Charlotte Hornets,L,NaN,106,135,1,4,L 1,NaN

In [86]:
new_hawks = hawks.rename (columns={'Time': 'Eastern', 'Time-1': 'Time', "Unnamed: 4": "Vs", "Unnamed: 8": "W/L", 'Unnamed: 9': 'OT'})
new_hawks.head()

,GP,Date,Eastern,Time,Vs,Opponent,GF,GA,W/L,OT,W,L,OL,Streak,Att.,LOG
0,1,10/4/2018,7:30 PM,18:30:00,@,Ottawa Senators,4,3,W,OT,1,0,0,W 1,"15,858",2:38
1,2,10/6/2018,8:00 PM,19:00:00,@,St. Louis Blues,5,4,W,OT,2,0,0,W 2,"17,429",2:39
2,3,10/7/2018,7:00 PM,18:00:00,NaN,Toronto Maple Leafs,6,7,L,OT,2,0,1,L 1,"21,812",2:31
3,4,10/11/2018,8:00 PM,19:00:00,@,Minnesota Wild,3,4,L,OT,2,0,2,L 2,"18,652",2:42
4,5,10/13/2018,8:30 PM,19:30:00,NaN,St. Louis Blues,4,3,W,OT,3,0,2,W 1,"21,634",2:38

In [87]:
drop_hawks = ['GP', 'Eastern', 'GF', 'GA', 'W', 'L', 'OL', 'Streak']
new_hawks.drop(columns = drop_hawks, inplace = True)
new_hawks.head()

         Date      Time   Vs             Opponent W/L  OT    Att.   LOG
0   10/4/2018  18:30:00    @      Ottawa Senators   W  OT  15,858  2:38
1   10/6/2018  19:00:00    @      St. Louis Blues   W  OT  17,429  2:39
2   10/7/2018  18:00:00  NaN  Toronto Maple Leafs   L  OT  21,812  2:31
3  10/11/2018  19:00:00    @       Minnesota Wild   L  OT  18,652  2:42
4  10/13/2018  19:30:00  NaN      St. Louis Blues   W  OT  21,634  2:38

In [88]:
new_bulls = bulls.rename (columns={'Start (CT)': 'Time', "Unnamed: 6": "Vs", "Unnamed: 8": "W/L"})
new_bulls.head()

,G,Date- Old,Date,Start (ET),Time,Unnamed: 5,Vs,Opponent,W/L,Unnamed: 9,Tm,Opp,W,L,Streak,Notes
0,1,"Thu, Oct 18, 2018",10/18/2018,8:00p,19:00:00,Box Score,@,Philadelphia 76ers,L,NaN,108,127,0,1,L 1,NaN
1,2,"Sat, Oct 20, 2018",10/20/2018,8:00p,19:00:00,Box Score,NaN,Detroit Pistons,L,NaN,116,118,0,2,L 2,NaN
2,3,"Mon, Oct 22, 2018",10/22/2018,8:30p,19:30:00,Box Score,@,Dallas Mavericks,L,NaN,109,115,0,3,L 3,NaN
3,4,"Wed, Oct 24, 2018",10/24/2018,8:00p,19:00:00,Box Score,NaN,Charlotte Hornets,W,NaN,112,110,1,3,W 1,NaN
4,5,"Fri, Oct 26, 2018",10/26/2018,7:00p,18:30:00,Box Score,@,Charlotte Hornets,L,NaN,106,135,1,4,L 1,NaN

In [89]:
drop_bulls = ['G', 'Date- Old', 'Start (ET)', 'Unnamed: 5', 'Unnamed: 9', 'Tm',
          'Opp', 'W', 'L', 'Streak', 'Notes']
new_bulls.drop(columns = drop_bulls, inplace = True)
new_bulls.head()

         Date      Time   Vs            Opponent W/L
0  10/18/2018  19:00:00    @  Philadelphia 76ers   L
1  10/20/2018  19:00:00  NaN     Detroit Pistons   L
2  10/22/2018  19:30:00    @    Dallas Mavericks   L
3  10/24/2018  19:00:00  NaN   Charlotte Hornets   W
4  10/26/2018  18:30:00    @   Charlotte Hornets   L

In [90]:
#Join data files

new_hawks.append(new_bulls)

      Att.        Date   LOG   OT                Opponent      Time   Vs W/L
0   15,858   10/4/2018  2:38   OT         Ottawa Senators  18:30:00    @   W
1   17,429   10/6/2018  2:39   OT         St. Louis Blues  19:00:00    @   W
2   21,812   10/7/2018  2:31   OT     Toronto Maple Leafs  18:00:00  NaN   L
3   18,652  10/11/2018  2:42   OT          Minnesota Wild  19:00:00    @   L
4   21,634  10/13/2018  2:38   OT         St. Louis Blues  19:30:00  NaN   W
5   21,210  10/18/2018  2:31  NaN         Arizona Coyotes  19:30:00  NaN   L
6   17,005  10/20/2018  2:29  NaN   Columbus Blue Jackets  18:00:00    @   W
7   21,012  10/21/2018  2:29  NaN     Tampa Bay Lightning  18:00:00  NaN   L
8   20,900  10/23/2018  2:31  NaN           Anaheim Ducks  19:30:00  NaN   W
9   21,280  10/25/2018  2:36  NaN        New York Rangers  19:30:00  NaN   W
10  17,201  10/27/2018  2:32  NaN         St. Louis Blues  19:00:00    @   L
11  20,987  10/28/2018  2:24   OT         Edmonton Oilers  17:00:00  NaN   L
12  16,955  10/31/2018  2:32  NaN       Vancouver Canucks  21:00:00    @   L
13  18,347   11/1/2018  2:26  NaN         Edmonton Oilers  20:00:00    @   L
14  18,143   11/3/2018  2:26  NaN          Calgary Flames  21:00:00    @   L
15  21,331   11/8/2018  2:20  NaN     Carolina Hurricanes  19:30:00  NaN   L
16  19,355  11/10/2018  2:25  NaN     Philadelphia Flyers  12:00:00    @   L
17  11,221  11/12/2018  2:28   OT     Carolina Hurricanes  18:00:00    @   L
18  21,401  11/14/2018  2:19  NaN         St. Louis Blues  19:00:00  NaN   W
19  21,227  11/16/2018  2:36   SO       Los Angeles Kings  19:30:00  NaN   L
20  21,373  11/18/2018  2:33  NaN          Minnesota Wild  17:00:00  NaN   W
21  18,506  11/21/2018  2:30  NaN     Washington Capitals  18:00:00    @   L
22  19,092  11/23/2018  2:20  NaN     Tampa Bay Lightning  18:30:00    @   L
23  14,283  11/24/2018  2:37   OT        Florida Panthers  18:00:00    @   W
24  21,460  11/27/2018  2:26  NaN    Vegas Golden Knights  19:00:00  NaN   L
25  15,321  11/29/2018  2:21  NaN           Winnipeg Jets  19:00:00    @   L
26  17,548   12/1/2018  2:26  NaN     Nashville Predators  19:00:00    @   L
27  21,074   12/2/2018  2:30  NaN          Calgary Flames  18:00:00  NaN   L
28  15,696   12/5/2018  2:24  NaN           Anaheim Ducks  21:30:00    @   L
29  18,494   12/6/2018  2:32  NaN    Vegas Golden Knights  21:00:00    @   L
..     ...         ...   ...  ...                     ...       ...  ...  ..
52     NaN    2/2/2019   NaN  NaN       Charlotte Hornets  18:00:00    @   L
53     NaN    2/6/2019   NaN  NaN    New Orleans Pelicans  19:00:00  NaN   L
54     NaN    2/8/2019   NaN  NaN           Brooklyn Nets  18:30:00    @   W
55     NaN    2/9/2019   NaN  NaN      Washington Wizards  19:00:00  NaN   L
56     NaN   2/11/2019   NaN  NaN         Milwaukee Bucks  19:00:00  NaN   L
57     NaN   2/13/2019   NaN  NaN       Memphis Grizzlies  19:00:00  NaN   W
58     NaN   2/22/2019   NaN  NaN           Orlando Magic  18:00:00    @   W
59     NaN   2/23/2019   NaN  NaN          Boston Celtics  19:00:00  NaN   W
60     NaN   2/25/2019   NaN  NaN         Milwaukee Bucks  19:00:00  NaN   L
61     NaN   2/27/2019   NaN  NaN       Memphis Grizzlies  19:00:00    @   W
62     NaN    3/1/2019   NaN  NaN           Atlanta Hawks  18:30:00    @   W
63     NaN    3/3/2019   NaN  NaN           Atlanta Hawks  14:30:00  NaN   L
64     NaN    3/5/2019   NaN  NaN          Indiana Pacers  18:00:00    @   L
65     NaN    3/6/2019   NaN  NaN      Philadelphia 76ers  19:00:00  NaN   W
66     NaN    3/8/2019   NaN  NaN         Detroit Pistons  19:00:00  NaN   L
67     NaN   3/10/2019   NaN  NaN         Detroit Pistons  11:00:00    @   L
68     NaN   3/12/2019   NaN  NaN      Los Angeles Lakers  19:00:00  NaN   L
69     NaN   3/15/2019   NaN  NaN    Los Angeles Clippers  21:30:00    @   L
70     NaN   3/17/2019   NaN  NaN        Sacramento Kings  17:00:00    @   L
71     NaN   3/18/2019   NaN  NaN            Phoenix Suns  21:00:00    @   W
72     NaN   3/20/2019   NaN  NaN      Washington Wizards  19:00:00  NaN   W
73     NaN   3/23/2019   NaN  NaN               Utah Jazz  19:00:00  NaN   L
74     NaN   3/26/2019   NaN  NaN         Toronto Raptors  18:30:00    @   L
75     NaN   3/27/2019   NaN  NaN  Portland Trail Blazers  19:00:00  NaN   L
76     NaN   3/30/2019   NaN  NaN         Toronto Raptors  19:00:00  NaN   L
77     NaN    4/1/2019   NaN  NaN         New York Knicks  18:30:00    @   L
78     NaN    4/3/2019   NaN  NaN      Washington Wizards  18:00:00    @   W
79     NaN    4/6/2019   NaN  NaN      Philadelphia 76ers  19:00:00  NaN   L
80     NaN    4/9/2019   NaN  NaN         New York Knicks  19:00:00  NaN   L
81     NaN   4/10/2019   NaN  NaN      Philadelphia 76ers  19:00:00    @   L

[164 rows x 8 columns]

In [91]:
#Merge new data
UC_games = new_hawks[["Date","Time","Vs","Opponent", "W/L", "LOG", "Att."]]
UC_games.head()

#Save to a new csv file
UC_games.to_csv("Output/UC Games.csv")

In [92]:
database_path = "etl"
engine = create_engine(f"sqlite:///{database_path}")

In [96]:
engine.table_names()

['UC Games']

In [97]:
UC_games.to_sql(name='UCGames', con=engine, if_exists='append', index=False)

In [98]:
pd.read_sql_query('select * from UCGames', con=engine).head()

         Date      Time    Vs             Opponent W/L   LOG    Att.
0   10/4/2018  18:30:00     @      Ottawa Senators   W  2:38  15,858
1   10/6/2018  19:00:00     @      St. Louis Blues   W  2:39  17,429
2   10/7/2018  18:00:00  None  Toronto Maple Leafs   L  2:31  21,812
3  10/11/2018  19:00:00     @       Minnesota Wild   L  2:42  18,652
4  10/13/2018  19:30:00  None      St. Louis Blues   W  2:38  21,634